include /_mixins
include /_cart_mock
include /_functions

doctype html
html
  head
    title Web Store
    +stylesheet_link_tag('application')
    link(href="http://fonts.googleapis.com/css?family=Fjalla+One", type="text/css", rel="stylesheet")

  body
    main
      h1 Products
      #cart
        h3
          a(href="#") Cart
            span= cart.reduce(total_qty)
        #items
          ul
            each item in cart
              li #{item.title} x #{item.quantity}
                span $#{format(item.price)}
            li
              strong Total
              span $#{format(cart.reduce(total))}
          a(href="#") Checkout

      block content
    +javascript_tag('cart')
